git+https://github.com/lebrice/SimpleParsing
git+https://github.com/iamgroot42/cleverhans
git+https://github.com/iamgroot42/opacus
git+https://github.com/iamgroot42/robustness
git+https://github.com/iamgroot42/facenet-pytorch
torch
torchvision
torchaudio
scikit-learn
scipy
tqdm
ogb
pandas
colorama
seaborn
jsonargparse